cache/
out/
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

out

.DS_Store
cache_hardhat/solidity-files-cache.json
cache_hardhat/solidity-files-cache.json
